{% extends 'base.html' %}

{% block title %}Play{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('play.static', filename='css/style.css') }}" />
{% endblock %}

{% block content %}
   <section class="question_content">
       <div class="q_form_wrapper">
        <form action="" id="question_form" method="POST">
            <div class="question_text">
                 <h3>{{ question.text|safe }}</h3>
            </div>
            <div class="q_answers">
                 {% for variant in question.all_answers %}
                     <fieldset>
                         <button name="answer" class="answer" type="submit" 
                         value="{{ variant }}">
                             <span>{{ variant|safe }}</span>
                         </button>
                     </fieldset>
                 {% endfor %}
            </div>
        </form>
       </div>
   </section>
{% endblock %}