#diff_form{
    padding: 140px 0;
}

.diff_button{
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 15px;
    margin: 10px 0;
    padding: 35px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.diff_button:hover{
    box-shadow: none;
}

.diff_button:active{
    box-shadow: inset 0 1px 2px #555;
}

#lite_diff{
    background-color: #32CD32;
}

#medium_diff{
    background-color: #FFD300;
}

#hard_diff{
    background-color: #FF0500;
}

.diff{
    text-align: center;
}

.qustion_num{
    font-weight: bold;
}

.question_content{
   text-align: center;
   padding: 30px 40px;
}

.question_text{
    margin-bottom: 15px;
}

.answer{
    width: 50%;
    padding: 20px 50px;
    margin:  5px 0;
    border: none;
    border-radius: 5px;
    background-color: #111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16;
}

.answer:hover{
    background-color: #222;
}

.q_form_wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}

.results_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 10px;
    font-family: "Open Sans", sans-serif;
}

.results_smile{
    width: 50%;
    padding: 20px 0;
}

.results_smile img{
    width: 100%;
    margin: 20px 0;
}

.corr_percent{
    font-weight: bold;
}

.new_game{
    width: 100%;
}

.new_game button{
    width: 35%;
    padding: 15px 0;
    margin: 5px;
}
