<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('general.static', filename='css/style.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        {% block links %}{% endblock %}
        <title>{% block title %}{% endblock %} - Quiz</title>
    </head>
    <body>
        {% include 'header.html' %}
        {% if get_flashed_messages() %}
            {% for category, message in get_flashed_messages(with_categories=True) %}
                {% if category =='success' %}
                    <div class="flash_success">
                        <span>{{ message }}</span>
                    </div>
                {% else %}
                    <div class="flash_error">
                        <span>{{ message }}</span> 
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% block content %} {% endblock %}
        {% include 'footer.html' %}
    </body>
</html>