<header class="header">
    <div class="logo-div">
        <img src="{{ url_for('general.static', filename='img/logo_white.png') }}" class="logo-img"/>
    </div>
   <div class="search_bar">
        <input type="text" name="search_users" placeholder="Search users"/>
    </div>
    <nav class="right-nav">
        <ul>
            {% if g.user %}
                <li><a href="#">BELL</a></li>
                <li><a href="#">USER IMAGE</a></li>
                <li><a href="#">OPTIONS</a></li>
            {% else %}
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Sign up</a></li>
                <li><a href="#">About</a></li>
            {% endif %}
        </ul>
    </nav>
</header>