<section class="container home_content">
    <div class="row justify-content-center img_wrapper">
        <div class="col-5 col-md-3 img_container">
            <img src="{{ url_for('general.static', filename='img/logo_black.png') }}" />
        </div>
    </div>
    <div class="row justify-content-center button_container">
        <button class="survey_button">Start Survey</button>
    </div>
    <div class="row justify-content-center info_wrapper">
        <div class="col-12 col-sm-3 info_container">
            <div class="info_container_inner">TEXT</div>
        </div>
        <div class="col-12 col-sm-3 info_container">
            <div class="info_container_inner">TEXT</div>
        </div>
        <div class="col-12 col-sm-3 info_container">
            <div class="info_container_inner">TEXT</div>
        </div>
    </div>
    <div class="row"></div>
</section>