<section class="container home_content">
    <div class="row justify-content-center img_wrapper">
        <div class="col-5 col-md-3 img_container">
            <img src="{{ url_for('general.static', filename='img/logo_black_c.png') }}" />
        </div>
    </div>
    <div class="row justify-content-center button_container">
        <form action="" method="POST">
            <button name="survey" class="survey_button" value="survey">Start Survey</button>
            {% if session.q_number %}
            <button name="survey" class="survey_button" value="continue">Back to game</button>
            {% endif %}
        </form>
    </div>
    <div class="row justify-content-center info_wrapper">
        <div class="col-11 col-sm-4 info_container">
            <div class="info_container_inner">
                <div class="container_img">
                    <img src="{{ url_for('general.static', filename='img/brain.png')}}"/>
                </div>
                <div class="container_text">
                    <span>Train your brain</span> 
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-4 info_container">
            <div class="info_container_inner">
                <div class="container_img">
                    <img src="{{ url_for('general.static', filename='img/crown.png')}}"/>
                </div>
                <div class="container_text">
                    <span>Become the best</span>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-4 info_container">
            <div class="info_container_inner">
                <div class="container_img">
                    <img src="{{ url_for('general.static', filename='img/smile.png')}}"/>
                </div>
                <div class="container_text">
                    <span>Have fun</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
</section>